<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>more burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
	</head>
	<body>
        <img src="/assets/img/burger.png">
		{{{ body }}}
	</body>
</html>
