body{
    background: white;
    background-position: cover;
    align-content: center;
    margin: 20 20 20 20 ;
}

h2,h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 40;
    color: black;
}

.row{
    border: solid black 1px;


}

img{
    size: 300px
}